/* Error: Expected whitespace.
 *     ,
 * 250 |   @media screen and(max-width: 29em) {
 *     |                    ^
 *     '
 *   sass\pages\_home.scss 250:20  @import
 *   sass\main.scss 7:9            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected whitespace.\a     \2577 \a 250 \2502    @media screen and(max-width: 29em) {\a     \2502                     ^\a     \2575 \a   sass\\pages\\_home.scss 250:20  @import\a   sass\\main.scss 7:9            root stylesheet";
}
